[class*="zd-sprite-"] {
  width:25px;
  height: 25px;
  background: url('../images/icons/emoji.png');
  background-repeat: no-repeat;
  vertical-align: top;
  display: inline-block !important; 
  margin: 5px;
  background-size: 882.8125px 867.1875px;
}
.zd-sprite-smile {
  background-position: -146.484375px -695.703125px;
}
.zd-sprite-smiley {
  background-position: -204.296875px -695.703125px;
}
.zd-sprite-smirk {
  background-position: -291.015625px -695.703125px;
}
.zd-sprite-sob {
  background-position: -555.46875px -695.703125px;
}
.zd-sprite-angry {
  background-position: -493.359375px -1.953125px;
}
.zd-sprite-ok_hand {
  background-position: -464.453125px -522.265625px;
}
.zd-sprite-anguished {
  background-position: -522.265625px -1.953125px;
}
.zd-sprite-cry {
  background-position: -319.921875px -204.296875px;
}
.zd-sprite-cold_sweat {
  background-position: -435.546875px -175.390625px;
}
.zd-sprite-blush {
  background-position: -175.390625px -88.671875px;
}
.zd-sprite-sunglasses {
  background-position: -613.28125px -724.609375px;
}
.zd-sprite-coffee {
  background-position: -406.640625px -175.390625px;
}
.zd-sprite-broken_heart {
  background-position: -724.609375px -88.671875px;
}
.zd-sprite-heart {
  background-position: -319.921875px -348.828125px;
}
.zd-sprite-bomb {
  background-position: -262.109375px -88.671875px;
}
.zd-sprite-video_game {
  background-position: -695.703125px -811.328125px;
}
.zd-sprite-crescent_moon {
  background-position: -204.296875px -204.296875px;
}
.zd-sprite-sunny {
  background-position: -642.1875px -724.609375px;
}
.zd-sprite-confused {
  background-position: -580.078125px -175.390625px;
}
.zd-sprite-disappointed {
  background-position: -88.671875px -233.203125px;
}
.zd-sprite-flushed {
  background-position: -435.546875px -291.015625px;
}
.zd-sprite-weary {
  background-position: -840.234375px -348.828125px;
}
.zd-sprite-heart_eyes {
  background-position: -377.734375px -348.828125px;
}
.zd-sprite-kissing_heart {
  background-position: -493.359375px -406.640625px;
}
.zd-sprite-kissing {
  background-position: -377.734375px -406.640625px;
}
.zd-sprite-laughing {
  background-position: -782.421875px -406.640625px;
}
.zd-sprite-muscle {
  background-position: -117.578125px -493.359375px;
}
.zd-sprite-v {
  background-position: -551.171875px -811.328125px;
}
.zd-sprite-clap {
  background-position: -262.109375px -146.484375px;
}
.zd-sprite-hankey {
  background-position: -146.484375px -348.828125px;
}
.zd-sprite-pray {
  background-position: -666.796875px -580.078125px;
}
.zd-sprite-pill {
  background-position: -59.765625px -580.078125px;
}
.zd-sprite-fire {
  background-position: -30.859375px -291.015625px;
}
.zd-sprite-fire_engine {
  background-position: -59.765625px -291.015625px;
}
.zd-sprite-thumbsup {
  background-position: -642.1875px -753.515625px;
}
.zd-sprite-thumbsdown {
  background-position: -613.28125px -753.515625px;
}
.zd-sprite-stuck_out_tongue {
  background-position: -468.75px -724.609375px;
}
.zd-sprite-unamused {
  background-position: -406.640625px -811.328125px;
}
.zd-sprite-stuck_out_tongue_closed_eyes {
  background-position: -497.65625px -724.609375px;
}
.zd-sprite-stuck_out_tongue_winking_eye {
  background-position: -526.5625px -724.609375px;
}
.zd-sprite-zap {
  background-position: -291.015625px -840.234375px;
}
.zd-sprite-underage {
  background-position: -435.546875px -811.328125px;
}
.zd-sprite-pig {
  background-position: -811.328125px -551.171875px;
}
.zd-sprite-soccer {
  background-position: -584.375px -695.703125px;
}
.zd-sprite-basketball {
  background-position: -146.484375px -59.765625px;
}
.zd-sprite-bear {
  background-position: -262.109375px -59.765625px;
}
.zd-sprite-cn {
  background-position: -348.828125px -175.390625px;
}
.zd-sprite-beer {
  background-position: -319.921875px -59.765625px;
}
.zd-sprite-beers {
  background-position: -348.828125px -59.765625px;
}






















