/* 特别处理 */
h1,h2 { 
    text-align: justify;
    font-weight: 800;
    line-height: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
}
h1 { font-size: 16px; /*no*/}
h2 { font-size: 14px;  /*no*/}
.self-icon-bubble2 { transform: rotateY(180deg) }
.self-icon-comment-o { transform: rotateY(180deg) }

/* flex布局 */
.flex-between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex-around {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.flex-evenly {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content:center;
}
.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* mint-ui  reset*/
.popup span {
    margin: .3em 1em;
    height: 1.2em;
    line-height: 1.2em;
    font-size: 14px; /*no*/
}
.mint-msgbox { font-size: 14px !important;  /*no*/ line-height: 1.5; }
.mint-msgbox .mint-msgbox-message { padding:　.5em 5%; }
.mint-msgbox-title { font-size: 16px !important;  /*no*/}
.mint-msgbox .mint-msgbox-btns {  height: auto; }
.mint-msgbox-btns .mint-msgbox-btn {
    line-height: 2;
    font-size: 14px;  /*no*/
}

/*global*/
.dotted { 
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.color-grad-btn {
    text-align: center;
    color:white; 
    background: -webkit-gradient(linear, left top, right top, from(#FFC50C), to(#FF6516)); 
    background: linear-gradient(to right, #FFC50C, #FF6516);
}
.toast-slot { text-align: center; }
.toast-slot>h1 { text-align: center; color: #ff8313;}
.toast-slot>p { font-size: 14px;  /*no*/  margin-top: 15px;  }

.mask {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 50%;
}
/* 多行溢出身略号 */
.lines-nowrap {         
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.router-link-active:active {
    opacity: 0.6;
}


/* 商城板块专用 */
.item-title {
    color: black; 
    font-weight: 800;
    font-size: 16px; /*no*/
    line-height: 1.2em;
}
.item-score-price {
    margin: 10px 0 5px; 
    color: #ff8313;
}
.item-score-price .zd-icon-score { 
    width: 23px;
    height: 23px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.item-score-price .item-score, .item-price i { font-size: 1.4em }
.item-score-price .item-price { color: red }



/* v-html 引入代码片段 中图片处理 */
.article-content { width: 100%; box-sizing: border-box; line-height: 1.5; }
.article-content img { max-width: 100%; margin: 0.5em 0; }

.article-content .tiny-emoji { width: 40px; margin: .05em .3em; }







.ripple {
    position: relative;

    overflow: hidden;
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .5s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/**图片剪辑上传css样式**/
#clip_button,#cancel_clip {
    position: absolute;
    right: 10%;
    bottom: 120px;
    width: 120px;
    height: 50px;
    border:none;
    border-radius: 2px;
    background: #1AAD19;
    color: #fff;
  }
  #cancel_clip{
    position: absolute;
    left: 10%;
    background:#E64340;
  }
  #clip_container.container {
    z-index: 99;
    position: fixed;
    padding-top: 60px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,1);
  }
  #clip_container.container > div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  #clip_image {
    max-width: 100%;
  }
  
  .cropper-container {
    font-size: 0;
    line-height: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction: ltr;
    -ms-touch-action: none;
    touch-action: none
  }
  .crop_loading , .crop_success {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .crop_loading .crop_content{
    position: absolute;
    top: 50% ;
    left: 50%;
    text-align: center;
    background: #000;
    opacity: 0.9;
    height: 6em;
    width: 6em;
    vertical-align: middle;
    color: #fff;
    padding-top: 20px;
    font-size: 16px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .crop_loading .crop_content img{
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .crop_success .crop_success_text{
    position: absolute;
    top: 50% ;
    left: 50%;
    text-align: center;
    background: #000;
    opacity: 0.9;
    width: 120px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .cropper-container img {
    /* Avoid margin top issue (Occur only when margin-top <= -height) */
    display: block;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    width: 100%;
    height: 100%;
    image-orientation: 0deg
  }
  
  .cropper-wrap-box,
  .cropper-canvas,
  .cropper-drag-box,
  .cropper-crop-box,
  .cropper-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .cropper-wrap-box {
    overflow: hidden;
  }
  
  .cropper-drag-box {
    opacity: 0;
    background-color: #fff;
  }
  
  .cropper-modal {
    opacity: .5;
    background-color: #000;
  }
  
  .cropper-view-box {
    display: block;
    overflow: hidden;
  
    width: 100%;
    height: 100%;
  
    outline: 1px solid #39f;
    outline-color: rgba(51, 153, 255, 0.75);
  }
  
  .cropper-dashed {
    position: absolute;
  
    display: block;
  
    opacity: .5;
    border: 0 dashed #eee
  }
  
  .cropper-dashed.dashed-h {
    top: 33.33333%;
    left: 0;
    width: 100%;
    height: 33.33333%;
    border-top-width: 1px;
    border-bottom-width: 1px
  }
  
  .cropper-dashed.dashed-v {
    top: 0;
    left: 33.33333%;
    width: 33.33333%;
    height: 100%;
    border-right-width: 1px;
    border-left-width: 1px
  }
  
  .cropper-center {
    position: absolute;
    top: 50%;
    left: 50%;
  
    display: block;
  
    width: 0;
    height: 0;
  
    opacity: .75
  }
  
  .cropper-center:before,
  .cropper-center:after {
    position: absolute;
    display: block;
    content: ' ';
    background-color: #eee
  }
  
  .cropper-center:before {
    top: 0;
    left: -3px;
    width: 7px;
    height: 1px
  }
  
  .cropper-center:after {
    top: -3px;
    left: 0;
    width: 1px;
    height: 7px
  }
  
  .cropper-face,
  .cropper-line,
  .cropper-point {
    position: absolute;
  
    display: block;
  
    width: 100%;
    height: 100%;
  
    opacity: .1;
  }
  
  .cropper-face {
    top: 0;
    left: 0;
  
    background-color: #fff;
  }
  
  .cropper-line {
    background-color: #39f
  }
  
  .cropper-line.line-e {
    top: 0;
    right: -3px;
    width: 5px;
    cursor: e-resize
  }
  
  .cropper-line.line-n {
    top: -3px;
    left: 0;
    height: 5px;
    cursor: n-resize
  }
  
  .cropper-line.line-w {
    top: 0;
    left: -3px;
    width: 5px;
    cursor: w-resize
  }
  
  .cropper-line.line-s {
    bottom: -3px;
    left: 0;
    height: 5px;
    cursor: s-resize
  }
  
  .cropper-point {
    width: 5px;
    height: 5px;
  
    opacity: .75;
    background-color: #39f
  }
  
  .cropper-point.point-e {
    top: 50%;
    right: -3px;
    margin-top: -3px;
    cursor: e-resize
  }
  
  .cropper-point.point-n {
    top: -3px;
    left: 50%;
    margin-left: -3px;
    cursor: n-resize
  }
  
  .cropper-point.point-w {
    top: 50%;
    left: -3px;
    margin-top: -3px;
    cursor: w-resize
  }
  
  .cropper-point.point-s {
    bottom: -3px;
    left: 50%;
    margin-left: -3px;
    cursor: s-resize
  }
  
  .cropper-point.point-ne {
    top: -3px;
    right: -3px;
    cursor: ne-resize
  }
  
  .cropper-point.point-nw {
    top: -3px;
    left: -3px;
    cursor: nw-resize
  }
  
  .cropper-point.point-sw {
    bottom: -3px;
    left: -3px;
    cursor: sw-resize
  }
  
  .cropper-point.point-se {
    right: -3px;
    bottom: -3px;
    width: 20px;
    height: 20px;
    cursor: se-resize;
    opacity: 1
  }
  
  @media (min-width: 768px) {
  
    .cropper-point.point-se {
      width: 15px;
      height: 15px
    }
  }
  
  @media (min-width: 992px) {
  
    .cropper-point.point-se {
      width: 10px;
      height: 10px
    }
  }
  
  @media (min-width: 1200px) {
  
    .cropper-point.point-se {
      width: 5px;
      height: 5px;
      opacity: .75
    }
  }
  
  .cropper-point.point-se:before {
    position: absolute;
    right: -50%;
    bottom: -50%;
    display: block;
    width: 200%;
    height: 200%;
    content: ' ';
    opacity: 0;
    background-color: #39f
  }
  
  .cropper-invisible {
    opacity: 0;
  }
  
  .cropper-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
  }
  
  .cropper-hide {
    position: absolute;
  
    display: block;
  
    width: 0;
    height: 0;
  }
  
  .cropper-hidden {
    display: none !important;
  }
  
  .cropper-move {
    cursor: move;
  }
  
  .cropper-crop {
    cursor: crosshair;
  }
  
  .cropper-disabled .cropper-drag-box,
  .cropper-disabled .cropper-face,
  .cropper-disabled .cropper-line,
  .cropper-disabled .cropper-point {
    cursor: not-allowed;
  }