/* 特别处理 */
h1,h2 { 
    text-align: justify;
    font-weight: 800;
    line-height: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
}
h1 { font-size: 16px; /*no*/}
h2 { font-size: 14px;  /*no*/}
.self-icon-bubble2 { transform: rotateY(180deg) }
.self-icon-comment-o { transform: rotateY(180deg) }

/* flex布局 */
.flex-between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex-around {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.flex-evenly {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
/* mint-ui  reset*/
.popup span {
    margin: .3em 1em;
    height: 1.2em;
    line-height: 1.2em;
    font-size: 14px; /*no*/
}


/*global*/
.dotted { 
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.color-grad-btn {
    text-align: center;
    color:white; 
    background: -webkit-gradient(linear, left top, right top, from(#FFC50C), to(#FF6516)); 
    background: linear-gradient(to right, #FFC50C, #FF6516);
}
.toast-slot { text-align: center; }
.toast-slot>h1 { text-align: center; color: #ff8313;}
.toast-slot>p { font-size: 14px;  /*no*/  margin-top: 15px;  }

.mask {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 50%;
}
/* 多行溢出身略号 */
.lines-nowrap {         
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.router-link-active:active {
    opacity: 0.6;
}


/* 商城板块专用 */
.item-title {
    color: black; 
    font-weight: 800;
    font-size: 16px; /*no*/
    line-height: 1.2em;
}
.item-score-price {
    margin: 10px 0 5px; 
    color: #ff8313;
}
.item-score-price .zd-icon-score { 
    width: 23px;
    height: 23px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.item-score-price .item-score, .item-price i { font-size: 1.4em }
.item-score-price .item-price { color: red }



/* v-html 引入代码片段 中图片处理 */
.article-content { width: 100%; box-sizing: border-box; }
.article-content img { max-width: 100%; margin: 1em 0; }