/* HTML5 display-role reset for older browsers */
*{ margin: 0; padding: 0 }
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
i { font-style:normal }
blockquote, q {
    quotes: none;
}
img { vertical-align: middle; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* custom */
a,a:link,a:visited,a:active {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

ul,li{ list-style: none; }
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}


body {
    width: 100%;
    min-height: 100%;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: #ebebeb;
    user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1 ;
    padding: 100px 0;
}





