@font-face {
  font-family: 'self-icons';
  src:  url('fonts/self-icons.eot?idkmnw');
  src:  url('fonts/self-icons.eot?idkmnw#iefix') format('embedded-opentype'),
    url('fonts/self-icons.ttf?idkmnw') format('truetype'),
    url('fonts/self-icons.woff?idkmnw') format('woff'),
    url('fonts/self-icons.svg?idkmnw#self-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="self-icon-"], [class*=" self-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'self-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.self-icon-more_horiz:before {
  content: "\e5d3";
}
.self-icon-more_vert:before {
  content: "\e5d4";
}
.self-icon-plus:before {
  content: "\f067";
}
.self-icon-minus:before {
  content: "\f068";
}
.self-icon-search:before {
  content: "\f002";
}
.self-icon-star:before {
  content: "\f005";
}
.self-icon-star-o:before {
  content: "\f006";
}
.self-icon-user:before {
  content: "\f007";
}
.self-icon-check:before {
  content: "\f00c";
}
.self-icon-close:before {
  content: "\f00d";
}
.self-icon-cog:before {
  content: "\f013";
}
.self-icon-gear:before {
  content: "\f013";
}
.self-icon-trash-o:before {
  content: "\f014";
}
.self-icon-home:before {
  content: "\f015";
}
.self-icon-clock-o:before {
  content: "\f017";
}
.self-icon-play-circle-o:before {
  content: "\f01d";
}
.self-icon-repeat:before {
  content: "\f01e";
}
.self-icon-refresh:before {
  content: "\f021";
}
.self-icon-headphones:before {
  content: "\f025";
}
.self-icon-align-justify:before {
  content: "\f039";
}
.self-icon-list:before {
  content: "\f03a";
}
.self-icon-image:before {
  content: "\f03e";
}
.self-icon-photo:before {
  content: "\f03e";
}
.self-icon-picture-o:before {
  content: "\f03e";
}
.self-icon-pencil2:before {
  content: "\f040";
}
.self-icon-map-marker:before {
  content: "\f041";
}
.self-icon-times-circle:before {
  content: "\f057";
}
.self-icon-check-circle:before {
  content: "\f058";
}
.self-icon-eye:before {
  content: "\f06e";
}
.self-icon-eye-slash:before {
  content: "\f070";
}
.self-icon-bars:before {
  content: "\f0c9";
}
.self-icon-navicon:before {
  content: "\f0c9";
}
.self-icon-reorder:before {
  content: "\f0c9";
}
.self-icon-caret-down:before {
  content: "\f0d7";
}
.self-icon-caret-up:before {
  content: "\f0d8";
}
.self-icon-caret-left:before {
  content: "\f0d9";
}
.self-icon-caret-right:before {
  content: "\f0da";
}
.self-icon-comment-o:before {
  content: "\f0e5";
}
.self-icon-bolt:before {
  content: "\f0e7";
}
.self-icon-flash:before {
  content: "\f0e7";
}
.self-icon-angle-left:before {
  content: "\f104";
}
.self-icon-angle-right:before {
  content: "\f105";
}
.self-icon-angle-up:before {
  content: "\f106";
}
.self-icon-angle-down:before {
  content: "\f107";
}
.self-icon-circle-o:before {
  content: "\f10c";
}
.self-icon-smile-o:before {
  content: "\f118";
}
.self-icon-frown-o:before {
  content: "\f119";
}
.self-icon-meh-o:before {
  content: "\f11a";
}
.self-icon-thumbs-up:before {
  content: "\f164";
}
.self-icon-thumbs-down:before {
  content: "\f165";
}
.self-icon-database:before {
  content: "\f1c0";
}
.self-icon-venus:before {
  content: "\f221";
}
.self-icon-mars:before {
  content: "\f222";
}
.self-icon-user-circle:before {
  content: "\f2bd";
}
.self-icon-user-circle-o:before {
  content: "\f2be";
}
.self-icon-home2:before {
  content: "\e900";
}
.self-icon-home3:before {
  content: "\e902";
}
.self-icon-pencil:before {
  content: "\e905";
}
.self-icon-clock:before {
  content: "\e94e";
}
.self-icon-bubbles2:before {
  content: "\e96d";
}
.self-icon-bubble2:before {
  content: "\e96e";
}
.self-icon-spinner11:before {
  content: "\e984";
}
.self-icon-star-empty:before {
  content: "\e9d7";
}
.self-icon-star-half:before {
  content: "\e9d8";
}
.self-icon-star-full:before {
  content: "\e9d9";
}
