// font-size
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-min: 10px;
$font-size-large: 18px;


// color
$bg-color-d: #f4f2f2;
$text-color-dark: #585858;
$text-color-l: #818181;
$text-color-w: #fff;
$text-color-orange: #ff8313;
$text-color-orange-d: #ff8b12;

$border-color-d: #c4c4c4;