/* .img{background:url(../images/img.png)  no-repeat;background-size:888px 50px}
.zd-shop-g1{height:35px;width:32px;background-position:0 0;}
.zd-shop-g5{height:36px;width:35px;background-position:-43px 0;}
.zd-shop-g4{height:33px;width:35px;background-position:-91px 0;}
.zd-shop-g2{height:35px;width:38px;background-position:-141px 0;}
.zd-shop-g6{height:28px;width:42px;background-position:-191px 0;}
.zd-score-s4{height:45px;width:45px;background-position:-244px -112px;}
.zd-icon-address{height:45px;width:45px;background-position:0 -112px;}
.zd-icon-score{height:45px;width:45px;background-position:-63px -112px;}
.zd-icon-order{height:45px;width:45px;background-position:-123px -112px;}
.zd-icon-draw{height:45px;width:45px;background-position:-182px -112px;}
.zd-score-s2{height:45px;width:45px;background-position:-304px -112px;}
.zd-score-s1{height:45px;width:45px;background-position:-363px -111px;}
.zd-score-s3{height:45px;width:45px;background-position:-416px -111px;}
.zd-shop-g3{height:34px;width:45px;background-position:-246px 0;}
.zd-shop-p4{height:50px;width:50px;background-position:0 -46px;}
.zd-shop-p5{height:50px;width:50px;background-position:-63px -47px;}
.zd-shop-p6{height:50px;width:50px;background-position:-125px -48px;}
.zd-shop-p1{height:50px;width:50px;background-position:-247px -48px;}
.zd-shop-p2{height:50px;width:50px;background-position:-308px -48px;}
.zd-shop-p3{height:50px;width:50px;background-position:-186px -48px;} */


  .zd-shop-g1{height:70px;width:65px;background-position:0 0;}
  .zd-shop-g5{height:72px;width:70px;background-position:-86px 0;}
  .zd-shop-g4{height:67px;width:70px;background-position:-183px 0;}
  .zd-shop-g2{height:70px;width:77px;background-position:-282px 0;}
  .zd-shop-g6{height:57px;width:84px;background-position:-383px 0;}
  .zd-shop-s4{height:90px;width:90px;background-position:-488px -225px;}
  .zd-shop-r4{background-position:0 -224px;}
  .zd-shop-r3{background-position:-126px -225px;}
  .zd-shop-r2{background-position:-247px -224px;}
  .zd-shop-r1{background-position:-364px -224px;}
  .zd-shop-s2{height:90px;width:90px;background-position:-609px -225px;}
  .zd-shop-s1{height:90px;width:90px;background-position:-726px -223px;}
  .zd-shop-s3{height:90px;width:90px;background-position:-833px -223px;}
  .zd-shop-g3{height:69px;width:91px;background-position:-493px 0;}
  .zd-shop-p4{height:100px;width:100px;background-position:0 -93px;}
  .zd-shop-p5{height:100px;width:100px;background-position:-127px -95px;}
  .zd-shop-p6{height:100px;width:100px;background-position:-250px -96px;}
  .zd-shop-p1{height:100px;width:100px;background-position:-494px -96px;}
  .zd-shop-p2{height:100px;width:100px;background-position:-616px -96px;}
  .zd-shop-p3{height:100px;width:100px;background-position:-373px -96px;}
